body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
    height: 100vh; /* Take up the full height of the viewport */

    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #4a4a5e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul {
    width: 100%;
    list-style-type: none;
    padding: 20px;

}

.sidebar nav ul li {
    margin-bottom: 10px;
    padding: 20px;
}

.sidebar nav ul li:hover{
    background-color: rgb(255, 85, 0);
    cursor: pointer;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar-footer {
    margin-top: auto;
}

.sidebar-footer a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.stock-graph {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stockGraphElement {
    width: 100%;   /* Takes full width of its container */
 /* Set a fixed height to improve appearance */
}

.date-range-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
    max-width: inherit;
}

.date-range-selector button {
    font-size: 1ex;
    margin: 5px;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.date-range-selector button:hover {
    background-color: #ddd;
}


#fetch-news:hover {
    background-color: rgb(255, 85, 0);
    cursor: pointer;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-buttons button {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
}

.category-buttons button:hover {
    background-color: #b5b5b5;
}

.category-buttons button.active {
    background-color: rgba(255, 85, 0, 0.727);
    color: #fff;
    border: none;
}

.stock-input {
    display: flex;
    margin-bottom: 20px;
}

.stock-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

.stock-input button {
    padding: 10px 20px;
    background-color: #4a4a5e;
    color: white;
    border: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}

.news-container {
    display: flex;
    gap: 20px;
}

#news-list {
    flex: 2;
    flex-grow: 1; /* Allows the news list to grow and shrink with the window size */
    max-height: calc(8 * 4rem); /* 4 items, each 5rem tall */
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 10px; /* Optional: Adjust padding to make the content look good */
    box-sizing: border-box;
    mask-image: linear-gradient(180deg, #000 0%, #000 calc(100% - 3rem), #0000 100%);
    -webkit-mask-image: linear-gradient(180deg, #000 0%, #000 calc(100% - 3rem), #0000 100%);
}

/* Optional: Customize scroll behavior */
#news-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}::-webkit-scrollbar {
    width: 8px;
}

#news-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#news-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.news-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.news-item:hover {
    background-color: #f5f5f5;
}

.news-detail {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Styles for the Toggle Button */
.toggle-menu {
    width: 100%;
    padding: 10px;
    display: none;
    background-color: #4a4a5e;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Enhancements for Mobile Responsiveness */
@media (max-width: 768px) {

    html, body {
        width: 100%;
        max-width: 100%;  /* Prevents any content from exceeding 100% of viewport width */
        overflow-x: hidden;  /* Prevent horizontal scrolling */

    }

    .app-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction:row;
        
    }

    .sidebar nav ul {
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        height: fit-content;
        padding: 0;
    }
    .sidebar nav ul li {
        
        padding: 10px;
    }
    .sidebar-footer a {
        margin-top: 5px;
    }



    .main-content {
        padding: 10px;
    }

    .category-buttons {
        flex-wrap: wrap;
    }

    .category-buttons button {
        flex: 1 1 40%;
        margin: 5px;
        
    }

    .stock-input {
        flex-direction: row;
    }

    .stock-input input, 
    .stock-input button {
        margin-bottom: 5px;
    }
    .stock-input button:hover {
        background-color: rgb(255, 85, 0);
        cursor: pointer;
    }

    .news-container {
        flex-direction: column;
        gap: 10px;
    }

    .news-list {
        width: 100%;
    }


    .news-item {
        padding: 10px;
    }

    .sidebar {
        display: none;
    }

    .toggle-menu {
        display: block;
        
    }

    .sidebar.visible {
        padding: 0;
        margin: 0;
        display: block;

    }


}




