/* Import navbar from another file */
@import url('./src/css/navbar.css');

/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    color: #333;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 2s forwards;
}





.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUpSearch 2s 0.5s forwards;
}

.search-box input {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 300px;
}

#search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #555;
}

/* Prompt text under the search bar */
.prompt {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInUpPrompt 2s 1s forwards;
}







.open-btn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #111;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

