/* Import animations from another file */
@import url('animations.css');


/* Navigation Bar */
.navbar {
    height: 100%;
    width: 0;
    background-color: #111;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* Add opacity for smooth appearance */
    opacity: 0;
}

.navbar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f1f1f1;
}

/* When loaded, trigger the slide-in animation */
.navbar.active {
    animation: slideIn 1s forwards;
    opacity: 1; /* Reveal sidebar */
}