/* Animation for search box */
@keyframes fadeInUpSearch {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Animation for the sidebar sliding in */
@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

/* Animation for the prompt */
@keyframes fadeInUpPrompt {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for the title */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}