
/* Enhancements for Mobile Responsiveness */
@media (max-width: 768px) {

    



    .category-buttons {
        flex-wrap: wrap;
    }

    .category-buttons button {
        flex: 1 1 40%;
        margin: 0px;
        
    }

    .stock-input {
        flex-direction: row;
    }

    .stock-input input, 
    .stock-input button {
        margin-bottom: 5px;
    }
    .stock-input button:hover {
        background-color: rgb(255, 85, 0);
        cursor: pointer;
    }

    .news-container {
        flex-direction: column;
        gap: 10px;
    }

    .news-list {
        width: 100%;
    }


    .news-item {
        padding: 10px;
    }
    .news-detail {
        opacity: 1;
        flex: 1;
        height: auto;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    

    .toggle-menu {
        display: block;
        
    }

    


}




