.stock-input {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(50px, 50px);
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeInUpSearch 2s 0.5s forwards;
    width: 70%;
    margin: 0 auto;
}

.stock-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 300px;
}

.stock-input button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}