/* Import animations from another file */

/* @import url('./css/visibility.css'); */
@import url('./css/animations.css');
@import url('./css/navbar.css');
@import url('./css/dashboard-section.css');
@import url('./css/homepage.css');
@import url('./css/news.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh; /* Take up the full height of the viewport */
    display: flex;
    flex-direction: column;
}


.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    /* flex: 1; */
    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden; /* Prevents overflow */
}



